.left-align-text {
  text-align: left;
  font-weight: 400;
  color: black;
}
.text-icon-align {
  vertical-align:middle;
  padding-right: 10px;
}
.no-top-margin {
  margin-top: 0;
}
.see-all {
  float: right;
  padding-top: 12px;
}